Repository CS2103-AY1819S1-F11-2/main, pull requests merged in 2018-11, with the labels that each got.

#164 UserGuide.adoc: Update add, clear and login commands
  docs/UserGuide.adoc
Labels: docs

#178 [v1.3] List checked in guests
  .gitignore
  build.gradle
  src/main/java/seedu/address/commons/events/ui/ListingChangedEvent.java
  src/main/java/seedu/address/logic/Logic.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/CheckInCommand.java
  src/main/java/seedu/address/logic/commands/FindCommand.java
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/parser/AddCommandParser.java
  src/main/java/seedu/address/logic/parser/ArgumentMultimap.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/ListCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/Concierge.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyConcierge.java
  src/main/java/seedu/address/model/room/Room.java
  src/main/java/seedu/address/model/room/booking/Bookings.java
  src/main/java/seedu/address/model/room/booking/exceptions/ExpiredBookingCheckInException.java
  src/main/java/seedu/address/model/room/booking/exceptions/ExpiredBookingsFoundException.java
  src/main/java/seedu/address/model/room/booking/exceptions/InactiveBookingCheckInException.java
  src/main/java/seedu/address/model/room/booking/exceptions/NoActiveBookingException.java
  src/main/java/seedu/address/model/room/exceptions/BookingAlreadyCheckedInException.java
  src/main/java/seedu/address/model/room/exceptions/OccupiedRoomCheckinException.java
  src/main/java/seedu/address/storage/XmlAdaptedRoom.java
  src/main/java/seedu/address/storage/XmlSerializableConcierge.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/UiManager.java
  src/test/data/XmlSerializableConciergeTest/typicalConcierge.xml
  src/test/data/XmlUtilTest/invalidRoomField.xml
  src/test/data/XmlUtilTest/validConcierge.xml
  src/test/data/XmlUtilTest/validRoom.xml
  src/test/java/seedu/address/logic/commands/AddCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/CheckInCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/ListCommandTest.java
  src/test/java/seedu/address/logic/parser/CheckinCommandParserTest.java
  src/test/java/seedu/address/logic/parser/CheckoutCommandParserTest.java
  src/test/java/seedu/address/logic/parser/ListCommandParserTest.java
  src/test/java/seedu/address/model/ConciergeTest.java
  src/test/java/seedu/address/model/room/RoomTest.java
  src/test/java/seedu/address/model/room/UniqueRoomListTest.java
  src/test/java/seedu/address/model/room/booking/BookingsTest.java
  src/test/java/seedu/address/storage/XmlAdaptedRoomTest.java
  src/test/java/seedu/address/testutil/RoomUtil.java
  src/test/java/seedu/address/testutil/TypicalBookings.java
  src/test/java/seedu/address/testutil/TypicalConcierge.java
  src/test/java/seedu/address/testutil/TypicalGuests.java
  src/test/java/seedu/address/testutil/TypicalRoomNumbers.java
  src/test/java/seedu/address/testutil/TypicalRooms.java
  src/test/java/seedu/address/testutil/TypicalTags.java
  src/test/java/seedu/address/ui/MainWindowGuiChangeTest.java
  src/test/java/seedu/address/ui/RoomDetailedPanelTest.java
  src/test/java/seedu/address/ui/RoomListPanelTest.java
  src/test/java/systemtests/AddCommandSystemTest.java
  src/test/java/systemtests/EditCommandSystemTest.java
Labels: feature.major, priority.High

#168 Sign-in feature
  data/passwords.json
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/commons/util/JsonUtil.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/Command.java
  src/main/java/seedu/address/logic/commands/LogInCommand.java
  src/main/java/seedu/address/logic/commands/LogOutCommand.java
  src/main/java/seedu/address/logic/commands/exceptions/UnauthorisedCommandException.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/ConciergeParser.java
  src/main/java/seedu/address/logic/parser/LogInCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/logic/parser/PasswordHashUtil.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/UserPrefs.java
  src/main/java/seedu/address/model/guest/Name.java
  src/main/java/seedu/address/model/login/HashingException.java
  src/main/java/seedu/address/model/login/InvalidLogInException.java
  src/main/java/seedu/address/model/login/InvalidLogOutException.java
  src/main/java/seedu/address/model/login/LogInManager.java
  src/main/java/seedu/address/model/login/PasswordHashList.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/JsonPasswordsStorage.java
  src/main/java/seedu/address/storage/PasswordsStorage.java
  src/main/java/seedu/address/storage/Storage.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/test/data/sandbox/pass_testing.json
  src/test/java/seedu/address/TestApp.java
  src/test/java/seedu/address/model/login/LogInManagerTest.java
  src/test/java/seedu/address/model/login/PasswordHashListTest.java
  src/test/java/seedu/address/storage/StorageManagerTest.java
  src/test/java/seedu/address/testutil/LogInUtil.java
  src/test/java/systemtests/ClearCommandSystemTest.java
  src/test/java/systemtests/ConciergeSystemTest.java
Labels: feature.major

#181 [v1.3] Update UserGuide
  README.adoc
  docs/UserGuide.adoc
  docs/images/Ui.png
Labels: docs

#182 User guide: Documentation for add, clear, login/ logout, and select
  README.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/AddCommand-userguide-active.png
  docs/images/AddCommand-userguide-notactive.png
  docs/images/ClearCommand-success.PNG
  docs/images/ConciergeFinal.png
  docs/images/ConciergeIconFinal.png
  docs/images/LogInCommand-clearsuccess.png
  docs/images/LogInCommand-loginsuccess.png
  docs/images/LogInCommand-notsignedin.png
  docs/images/LogOutCommand-notsignedin.png
  docs/images/LogOutCommand-success.png
  docs/images/concierge-welcome.png
  src/main/java/seedu/address/model/room/booking/BookingPeriod.java
  src/test/java/seedu/address/logic/parser/ParserUtilTest.java
Labels: docs

#188 [v1.4] User Guide update and Ui.png fix
  docs/UserGuide.adoc
  docs/images/Ui.png
Labels: docs

#191 UserGuide.adoc: Update to provide admin account
  data/passwords.json
  docs/UserGuide.adoc
  docs/images/LogInCommand-loginsuccess.png
  docs/images/concierge-welcome.png
Labels: docs

#212 Bug fix: Empty rooms can have Expenses
  src/main/java/seedu/address/model/Concierge.java
  src/main/java/seedu/address/model/room/Room.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/XmlAdaptedRoom.java
  src/test/data/XmlSerializableConciergeTest/invalidExpenseConcierge.xml
  src/test/data/XmlSerializableConciergeTest/typicalConcierge.xml
  src/test/data/XmlUtilTest/invalidRoomField.xml
  src/test/data/XmlUtilTest/validConcierge.xml
  src/test/data/XmlUtilTest/validRoom.xml
  src/test/java/seedu/address/model/room/RoomTest.java
  src/test/java/seedu/address/storage/XmlAdaptedRoomTest.java
Labels: priority.High, severity.Medium

#220 [v1.4] User Guide update
  docs/UserGuide.adoc
Labels: docs

#219 [v1.4] Select command tests
  docs/UserGuide.adoc
  preferences.json
  src/main/java/seedu/address/commons/events/ui/DeselectGuestListEvent.java
  src/main/java/seedu/address/commons/util/XmlUtil.java
  src/main/java/seedu/address/logic/commands/CheckoutCommand.java
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/FindCommand.java
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/commands/RedoCommand.java
  src/main/java/seedu/address/logic/commands/UndoCommand.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/ui/GuestDetailedPanel.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/UiManager.java
  src/test/data/XmlSerializableConciergeTest/typicalConcierge.xml
  src/test/data/XmlUtilTest/invalidRoomField.xml
  src/test/data/XmlUtilTest/validConcierge.xml
  src/test/data/XmlUtilTest/validRoom.xml
  src/test/java/seedu/address/commons/util/XmlUtilTest.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/commands/FindCommandTest.java
  src/test/java/seedu/address/logic/commands/ListCommandTest.java
  src/test/java/seedu/address/logic/commands/SelectCommandTest.java
  src/test/java/seedu/address/logic/parser/ConciergeParserTest.java
  src/test/java/seedu/address/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/address/logic/parser/ParserUtilTest.java
  src/test/java/seedu/address/logic/parser/SelectCommandParserTest.java
  src/test/java/seedu/address/storage/XmlSerializableConciergeTest.java
  src/test/java/seedu/address/testutil/FindUtil.java
  src/test/java/seedu/address/testutil/TypicalConcierge.java
  src/test/java/seedu/address/testutil/TypicalIndexes.java
  src/test/java/seedu/address/ui/GuestListPanelTest.java
  src/test/java/seedu/address/ui/RoomListPanelTest.java
  src/test/java/systemtests/AddCommandSystemTest.java
  src/test/java/systemtests/ClearCommandSystemTest.java
  src/test/java/systemtests/ConciergeSystemTest.java
  src/test/java/systemtests/EditCommandSystemTest.java
  src/test/java/systemtests/FindCommandSystemTest.java
  src/test/java/systemtests/HelpCommandSystemTest.java
  src/test/java/systemtests/SelectCommandSystemTest.java
Labels: testing

#222 [v1.4] Reassign command
  .gitignore
  preferences.json
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/CheckInCommand.java
  src/main/java/seedu/address/logic/commands/CheckoutCommand.java
  src/main/java/seedu/address/logic/commands/ReassignCommand.java
  src/main/java/seedu/address/logic/parser/CheckoutCommandParser.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/ConciergeParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/logic/parser/ReassignCommandParser.java
  src/main/java/seedu/address/model/Concierge.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/expenses/Expenses.java
  src/main/java/seedu/address/model/room/Room.java
  src/main/java/seedu/address/model/room/booking/Booking.java
  src/main/java/seedu/address/model/room/booking/BookingPeriod.java
  src/main/java/seedu/address/model/room/booking/Bookings.java
  src/main/java/seedu/address/model/room/booking/exceptions/BookingAlreadyCheckedInException.java
  src/main/java/seedu/address/model/room/booking/exceptions/ExpiredBookingCheckInException.java
  src/main/java/seedu/address/model/room/booking/exceptions/ExpiredBookingException.java
  src/main/java/seedu/address/model/room/booking/exceptions/NewBookingStartsBeforeOldBookingCheckedIn.java
  src/main/java/seedu/address/model/room/booking/exceptions/OldBookingStartsBeforeNewBookingCheckedIn.java
  src/main/java/seedu/address/model/room/exceptions/OriginalRoomReassignException.java
  src/main/java/seedu/address/storage/XmlAdaptedRoom.java
  src/main/java/seedu/address/storage/XmlSerializableConcierge.java
  src/test/data/XmlUtilTest/invalidRoomField.xml
  src/test/data/XmlUtilTest/validRoom.xml
  src/test/java/seedu/address/logic/commands/CheckInCommandTest.java
  src/test/java/seedu/address/logic/commands/CheckoutCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/ReassignCommandTest.java
  src/test/java/seedu/address/logic/commands/ServiceCommandTest.java
  src/test/java/seedu/address/logic/parser/CheckinCommandParserTest.java
  src/test/java/seedu/address/logic/parser/CheckoutCommandParserTest.java
  src/test/java/seedu/address/logic/parser/ReassignCommandParserTest.java
  src/test/java/seedu/address/model/ConciergeTest.java
  src/test/java/seedu/address/model/room/RoomTest.java
  src/test/java/seedu/address/model/room/booking/BookingsTest.java
  src/test/java/seedu/address/storage/XmlAdaptedRoomTest.java
  src/test/java/seedu/address/testutil/TypicalConcierge.java
Labels: feature.major

#225 [v1.4] Docs update
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/CheckinCommandSequenceDiagram.pptx
  docs/images/CheckinCommandSequenceDiagram.png
Labels: docs

#229 Address the issues in the PE-dry-run
  .gitignore
  docs/UserGuide.adoc
  passwords.json
  preferences.json
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/model/room/booking/Booking.java
  src/main/java/seedu/address/model/room/booking/BookingPeriod.java
  src/main/java/seedu/address/ui/MainWindow.java
Labels: feature.minor, severity.Low

#233 Remove edit command
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/ConciergeParser.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/model/Concierge.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/guest/UniqueGuestList.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/commands/EditGuestDescriptorTest.java
  src/test/java/seedu/address/logic/commands/ServiceCommandTest.java
  src/test/java/seedu/address/logic/parser/ConciergeParserTest.java
  src/test/java/seedu/address/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/address/model/guest/UniqueGuestListTest.java
  src/test/java/seedu/address/testutil/EditGuestDescriptorBuilder.java
  src/test/java/seedu/address/testutil/GuestUtil.java
  src/test/java/seedu/address/testutil/LogInUtil.java
  src/test/java/systemtests/EditCommandSystemTest.java
Labels: morph.groundwork, priority.Medium

#226 [LogIn module improvements] Add default login account, erase command history with logout, add login requirement for checkin and checkout
  .gitignore
  docs/UserGuide.adoc
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/CheckInCommand.java
  src/main/java/seedu/address/logic/commands/CheckoutCommand.java
  src/main/java/seedu/address/logic/commands/LogInCommand.java
  src/main/java/seedu/address/logic/commands/LogOutCommand.java
  src/main/java/seedu/address/logic/commands/ReassignCommand.java
  src/main/java/seedu/address/logic/commands/ServiceCommand.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/logic/parser/PasswordHashUtil.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/VersionedConcierge.java
  src/main/java/seedu/address/model/login/HashingException.java
  src/main/java/seedu/address/model/login/LogInManager.java
  src/main/java/seedu/address/model/login/PasswordHashList.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/JsonPasswordsStorage.java
  src/main/java/seedu/address/storage/PasswordsStorage.java
  src/main/java/seedu/address/storage/Storage.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/test/data/sandbox/pass_testing.json
  src/test/java/seedu/address/TestApp.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/ServiceCommandTest.java
  src/test/java/seedu/address/logic/parser/ConciergeParserTest.java
  src/test/java/seedu/address/logic/parser/LogInCommandParserTest.java
  src/test/java/seedu/address/model/login/LogInManagerTest.java
  src/test/java/seedu/address/model/login/PasswordHashListTest.java
  src/test/java/seedu/address/testutil/BookingUtil.java
  src/test/java/seedu/address/testutil/GuestUtil.java
  src/test/java/seedu/address/testutil/LogInUtil.java
  src/test/java/systemtests/AddCommandSystemTest.java
  src/test/java/systemtests/CheckInCommandSystemTest.java
  src/test/java/systemtests/CheckoutCommandSystemTest.java
  src/test/java/systemtests/ClearCommandSystemTest.java
Labels: feature.minor

#238 [v1.4] Adam's PPP
  README.adoc
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/Ui.png
  docs/images/check-in-activity-diagram.png
  docs/images/icon-important.png
  docs/images/icon-key.png
  docs/team/adamwth.adoc
  src/main/java/seedu/address/ui/UiManager.java
  src/main/resources/images/concierge_icon.png
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/address/testutil/ConciergeBuilder.java
  src/test/java/seedu/address/testutil/TypicalConcierge.java
Labels: docs

#239 [v1.4] UserGuide: minor fix
  README.adoc
  docs/UserGuide.adoc
Labels: docs

#230 Update author names for reposense
  _reposense/config.json
Labels: type.Task

#236 Fix implementation of resetUndoRedoHistory
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/VersionedConcierge.java
  src/main/java/seedu/address/model/login/PasswordHashList.java
  src/main/java/seedu/address/storage/JsonPasswordsStorage.java
  src/main/java/seedu/address/storage/PasswordsStorage.java
  src/main/java/seedu/address/storage/Storage.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/main/java/seedu/address/storage/UserPrefsStorage.java
Labels: severity.Medium, type.Bug

#237 Autocomplete Feature
  src/main/java/seedu/address/logic/Logic.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteManager.java
  src/main/java/seedu/address/logic/autocomplete/CommandParameterSyntaxHandler.java
  src/main/java/seedu/address/logic/autocomplete/Trie.java
  src/main/java/seedu/address/ui/CommandBox.java
  src/test/java/seedu/address/logic/autocomplete/AutoCompleteManagerTest.java
  src/test/java/seedu/address/logic/autocomplete/CommandParameterSyntaxHandlerTest.java
  src/test/java/seedu/address/logic/autocomplete/TrieTest.java
Labels: feature.major

#245 UserGuide, DevGuide, PPP documentation
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/Autocomplete Activity Diagram.jpg
  docs/images/Autocomplete Class Diagram.jpg
  docs/images/Autocomplete Sequence Diagram.jpg
  docs/images/add PREFIX_NAME.JPG
  docs/images/add.JPG
  docs/images/after anthony space.JPG
  docs/images/anthony space.JPG
  docs/images/full add autocomplete.JPG
  docs/images/service post clear.JPG
  docs/images/service pre clear.JPG
  docs/team/neilish3re.adoc
Labels: docs

#249 Update doc images from jpg to png format
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/Autocomplete Activity Diagram.jpg
  docs/images/Autocomplete Activity Diagram.png
  docs/images/Autocomplete Class Diagram.jpg
  docs/images/Autocomplete Class Diagram.png
  docs/images/Autocomplete Sequence Diagram.jpg
  docs/images/Autocomplete Sequence Diagram.png
  docs/images/add PREFIX_NAME.JPG
  docs/images/add PREFIX_NAME.png
  docs/images/add.JPG
  docs/images/add.png
  docs/images/after anthony space.JPG
  docs/images/after anthony space.png
  docs/images/anthony space.JPG
  docs/images/anthony space.png
  docs/images/full add autocomplete.JPG
  docs/images/full add autocomplete.png
  docs/images/service post clear.JPG
  docs/images/service post clear.png
  docs/images/service pre clear.JPG
  docs/images/service pre clear.png
Labels: docs

#251 Updated LogicComponentClassDiagram
  docs/DeveloperGuide.adoc
  docs/diagrams/NewLogicComponentClassDiagram.pptx
  docs/images/NewLogicComponentClassDiagram.png
Labels: docs

#255 Renaming of parser in Logic Component Class Diagram
  docs/diagrams/NewLogicComponentClassDiagram.pptx
  docs/images/NewLogicComponentClassDiagram.png
Labels: docs

#257 [v1.4] Docs update
  config.json
  data/passwords.json
  docs/AboutUs.adoc
  docs/ContactUs.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/CheckInCommand-activity-diagram/CheckInCommand-activity-diagram.xml
  docs/diagrams/CheckinCommandSequenceDiagram.pptx
  docs/images/CheckinCommandSequenceDiagram.png
  docs/images/check-in-activity-diagram.png
  docs/stylesheets/asciidoctor.css
  docs/team/adamwth.adoc
Labels: docs

#260 Update documentation
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/LogInCommand-LogInManager-classdiagram.xml
  docs/diagrams/LogInCommand-sequencediagram.xml
  docs/images/ClearCommand-success.PNG
  docs/images/ClearCommand-success.png
  docs/images/LogInCommand-LogInManager-classdiagram.png
  docs/images/LogInCommand-sequencediagram.png
  docs/team/pikulet.adoc
  src/main/java/seedu/address/logic/parser/PasswordHashUtil.java
Labels: docs

#262 Update PPP links
  docs/team/pikulet.adoc
Labels: docs

#268 DG fix
  docs/DeveloperGuide.adoc
Labels: docs
